<div class="users-index-page">
  <h1>List of users</h1>
  <% @users.each do |user| %>
    <div class="user-container">
      <img src=<%= user.photo %> alt="user picture">
      <div class="user-info">
        <a href="/users/<%= user.id %>" class="user-info">
          <h1><%= user.name %></h1>
          <h3 id="post-counter">Number of posts: <%= user.posts_counter %></h3>
        </a>
      </div>
    </div>
  <% end %>
</div>
